<% layout("/layouts/boilerplate") %>

<div class="row mt-5">
  <div class="col-6 offset-3">

    <h2 class="mb-4 text-center">Sign up</h2>

    <form action="/signup" method="POST" novalidate class="needs-validation">

      <!-- Username -->
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          required
        >
         <div class="invalid-feedback">Enter Username!</div>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          required
        >
        <div class="invalid-feedback">Enter Valid Email!</div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
        >
         <div class="valid-feedback">Password looks Strong!</div>
        <div class="invalid-feedback">Please enter Strong Password!</div>
      </div>

      <!-- Button -->
      <button class="btn btn-success w-100">
        Sign up
      </button>

    </form>

    <!-- Login link -->
    <p class="mt-3 text-center">
      Already have an account?
      <a href="/login">Login</a>
    </p>

  </div>
</div>